body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}
/* bg */
.game {
  position: relative;
  width: 720px;
  height: 405px;
  margin: auto;
  margin-top: 100px;
  border-radius: 20px;
  overflow: hidden;
}

.game__background {
  position: absolute;
  width: 720px;
  z-index: -1;
}

/* button and timer UIs*/
.game__UI {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game__playBtn {
  outline: none;
  width: 50px;
  height: 50px;
  font-size: 25px;
  background-color: #f0d4a4;
  border: 3px solid black;
  border-radius: 10px;

  display: none;
  cursor: pointer;
  transition: transform 100ms linear;
}

.game__stopBtn {
  outline: none;
  width: 50px;
  height: 50px;
  font-size: 25px;
  background-color: #f0d4a4;
  border: 3px solid black;
  border-radius: 10px;

  display: none;
  cursor: pointer;
  transition: transform 100ms linear;
}

.game__playBtn.visible,
.game__stopBtn.visible {
  display: block;
}

.game__resetBtn {
  outline: none;
  width: 50px;
  height: 50px;
  font-size: 25px;
  background-color: #f0d4a4;
  border: 3px solid black;
  border-radius: 10px;

  cursor: pointer;
  transition: transform 100ms linear;
}

.game__timer {
  text-align: center;
  background-color: white;
  border: 5px solid black;
  border-radius: 10px;
  font-size: 30px;
  font-weight: bold;
  margin: 10px 0;
  width: 100px;
}

.game__counter {
  background-color: salmon;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  font-weight: bold;
  border: 3px solid black;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* popups */

.game__over {
  position: absolute;
  left: 50%;
  bottom: 80px;
  transform: translateX(-50%);
  text-align: center;

  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  width: 50%;
  padding: 10px 0;

  z-index: 5;
  display: none;
}

.game__over div {
  font-size: 30px;
  font-weight: bolder;
}

/* main */

.game__mainarea {
  position: absolute;
  width: 85%;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  height: 40%;
  border: 2px solid black;
}

.game__bug {
  position: absolute;
  cursor: pointer;
  width: 40px;
  height: 40px;
  transition: transform 100ms linear;
}
.game__carrot {
  position: absolute;
  cursor: pointer;
  width: 40px;
  height: 40px;
  transition: transform 100ms linear;
}

.game__playBtn:hover,
.game__stopBtn:hover,
.game__resetBtn:hover,
.game__bug:hover,
.game__carrot:hover {
  transform: scale(1.1);
}
